html
	head
		title Transmet extension options
		style.
			.container {
				width: 80%;
				max-width: 300px;
				margin: 2em auto;
			}
			label {
				display: block;
			}
			input {
				margin: 1em 0.5em 1em 0;
			}
		script(src="options.js")
	body
		.container
			h3 Transmet settings
			label Is extension switched on by default?
				br
				input(type="checkbox",id="enabled")
				span Yes
			button#save Save changes
