html
	head
		title Transmet app about page
		link(rel="stylesheet", href="popup.css")
		script(src="popup.js")
	body
		h3.title Inline translation
		p.description Double-click on word to translate
		.buttons
			button#switchPluginState On/Off
			button#showStats Show stats
