.transmet-asterisk {
	position: relative;
	color: #69f;
	cursor: pointer;
	padding: 0 1em;
	vertical-align: top;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75em;
	line-height: 1em;

	& > span {
		position: absolute;
		top: -0.25em;
		left: 0;
		color: #244;
	    font-size: 1.33em;
	    font-weight: 300;
	    background-color: #fafae0;
	    padding: 0 .5em;
	    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		line-height:normal;
	}

	&.transmet-translated {
		visibility: hidden;
		& > span {
			visibility: visible;
		}
	}
}
