@import 'mixin/_common';

.transmet-asterisk {
	position: relative;
	display: inline-block;
	color: #15f;
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	vertical-align: top;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75em;
	line-height: 1em;
	margin: -.6em -.8em 0 -.4em;
	min-width: 1.2em;

	& > span {
		position: absolute;
		top: -0.25em;
		left: 0;
	    font-size: 1.33em;
		@include trans;
	}

	&.transmet-translated {
		visibility: hidden;
		& > span {
			visibility: visible;
		}
	}
}
