@import 'mixin/_common';

.transmet-asterisk {
	position: relative;
	color: #69f;
	cursor: pointer;
	padding: 0 1em;
	vertical-align: top;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75em;
	line-height: 1em;

	& > span {
		position: absolute;
		top: -0.25em;
		left: 0;
	    font-size: 1.33em;
		@include trans;
	}

	&.transmet-translated {
		visibility: hidden;
		& > span {
			visibility: visible;
		}
	}
}
