@import 'mixin/_common';
body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    max-width: 250px;
}
.title {
    font-size: .9em;
    margin: 0.3em 0;
    white-space: nowrap;
}
.description {
    font-size: .8em;
}
.buttons {
	button {
		@include button;
		@include buttons_block;
		&.btn-enable {
			border-color: #4a0;
			background: linear-gradient(to bottom, rgba(48,200,25,1) 0%, rgba(101,255,5,1) 100%);
		}
	}
}
.copy-block {
	margin-top: 1em;
	font-size: .8em;
	color: #666;
	i {
		font-style: normal;
	}
}
